# Python
venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.log
*.env

# Frontend
node_modules/
dist/
build/
.env.local
.env.development
.env.production

# Vercel
.vercel/

# Mac/Linux system files
.DS_Store
Thumbs.db